body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #63a1c7, #FFFFFF);
}

.box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(28, 106, 189, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid rgb(17, 73, 129);
}

legend{
    border: 1px solid rgb(17, 73, 129);
    padding: 10px;
    text-align: center;
    background-color: rgb(17, 73, 129);
    font-weight: bold; 
    border-radius: 7px;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

#submit{
    background-image: linear-gradient(to right, rgb(176, 204, 236), rgb(16, 136, 130));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(44, 80, 121), rgb(17, 28, 129));
}

.input_box {
    position: relative;
    margin-bottom: 20px;
    border: none;
}

.input_user{
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.label_input {
    position: absolute;
    top:0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.input_user:focus ~ .label_input,
.input_user:valid ~ .label_input{
    top:-20px;
    font-size: 12px;
}
