/* Estilos para a Área do Paciente */

/* Estilos base, inspirados no style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #63a1c7, #FFFFFF);
    margin: 0;
    padding: 20px;
    color: #333;
}


/* Container principal do painel */
.dashboard-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* Cabeçalho específico do paciente */
.header-paciente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #28a745; /* Verde para a área do paciente */
    margin-bottom: 20px;
}

.header-paciente h2 {
    color: #28a745;
    margin: 0;
}


/* Estilo geral para botões */
button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #2526779c;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0b0b5e;
}


/* Botão de logout */
.logout-button {
    background-color: #dc3545; /* Vermelho para ação de sair */
}

.logout-button:hover {
    background-color: #c82333;
}

/* Estilo para a logo no cabeçalho */
.header-logo {
    height: 100px; /* Ajusta a altura da imagem */
    margin-right: -500px; /* Adiciona um espaço entre a logo e o título */
    margin-left: 40px; /* Adiciona um espaço entre a logo e o título */
}

/* Seções do painel */
.dashboard-section{
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px;
}

.dashboard-section h2 {
    color: #444;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 0;
}


/* Estilo dos cards de informação */
.card-paciente {
    background-color: #c0cedb;
    border-left: 5px solid #28a745; /* Destaque verde */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}


/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .dashboard-container {
        padding: 15px;
    }

    .header-paciente {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-paciente h2 {
        margin-bottom: 10px;
    }
}
