body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #63a1c7, #FFFFFF);
}

.login-box {
    background-color: rgba(69, 100, 202, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 110px 80px 80px 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h1 {
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-box img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: calc(50% - 75px);
    border-radius: 10%;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;   
    outline: none;
    border-radius: 5px
}

button{
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #2526779c;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    display: block;
    margin: 0 auto;
}

button:hover{
    background-color: #0b0b5e;
}


/* Exlusivo da tela de login */
#mensagemErro {
  color: #460202;
  font-weight: bold;
  margin-top: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  .login-box {
    width: 95%;
    padding: 20px;
  }

  .login-box img {
    width: 80px;
  }
}
